*{
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    margin: 0;
    background-color: #172A2E;
    background-image: url(images/background.jpg);
    background-size:cover;
    background-blend-mode:normal;
}
}
h1 , h2 , h3 , h4 , h5, h6{
    
}
p{
    
    
}



