nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #212121;
    border-right: 1px solid #000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    
}
nav img{
    width:70%;
    display: block;
    margin-bottom: 35px;
    margin-top: 35px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2em;
    color: darkred;
    text-transform: full-width;
    letter-spacing: 0.05em;
}
nav a:hover{
    color: #ffce00;
}

