*{
    box-sizing: border-box;
}
body, html{
    height:100%;
}
h1 , h2 , h3 , h4 , h5, h6{
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 2px 1px 2px rgb(0,0,0);
    font-family: fantasy;
    text-transform: uppercase;
    
}
p{
   text-align: justify;
    text-justify: inter-word;
    margin: 2em;
    border-bottom: 2px solid #2574af;
}
main{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px; 
}

.bg-img{
    background-image:url(../img/bg/cmprs/computer.jpg);
    filter:blur(5px);
    -webkit-filter: blur(5px);
    height:100%;
    background-position: center;
    background-repeat:round;
    background-size: cover;
}
.link-text2{
    font: fantasy;
    
}


